.advert-card{
    width: 45%;
    background-color: #E8E8EA;
    border-radius: 12px;
    margin: auto;
    margin-bottom: 64px;
    margin-top: 80px;    
}

.advert-card2{
    width: 45%;
    background-color: #E8E8EA;
    border-radius: 12px;
    margin: auto;
    margin-bottom: 64px;    

}

.advertisement{
    margin-top: 10px;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    color: #696A75;
    
}

.ads-message{
    
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    color: #696A75;
}

.resolution{
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    color: #696A75;
    margin-bottom: 10px;
}

.advert-area{
    display: flex;
    flex-direction: column;
    justify-content: center;
}    
    
.latest-post{
    font-weight: 700;
    font-size: 24px;
    color: #181A2A;
    margin-bottom: 16px;
    
    
}

.post-card{
    border: 1px solid #E8E8EA;
    border-radius: 12px;
    padding: 16px;
}

.post-img{
    border-radius: 6px;
    margin-bottom: 16px;
}
    

.post-text-container{
    padding: 16px;
}    


.post-tag{
    text-align: center;
    border-radius: 6px;
    padding: 4px;
    background-color: #4B6BFB0D;
    margin-right: 200px;
}    
   


.post-tag>span{
    margin: auto;
    color: #4B6BFB;
    font-size: 14px;
    font-weight: 600;
}    
    


.post-text-container>.inner-content{
    margin-top: 16px;
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 20px;
    color: #181A2A;
    
}    
@media (max-width: 768px) {
    .post-text-container > .inner-content {
        font-size: 16px;
    }
}
    



.view-button{
    width: 142px;
    height: 48px;
    border-radius: 6px;
    border: 1px solid #696A754D;
    margin: 32 auto;
    
}



    
.view-button:hover{
    background-color: white;
}

.view-button>span{
    color: #696A75;
    text-align: center;
}      
  

