body{
    height: 3000px;
}

#fixed {
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: white;

}    

.navbar-ul {
    margin: 0 auto;
}

.search-positioning{
    margin: 0;
}  

body {
    font-family: 'Work Sans', sans-serif;
}    

    
    
    
    

  